html, body {
    height: 100vh;
    background-color:#ececec;
}
body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#ribbon {
    width: 13em;
    padding: 0 .5em;
    flex-shrink: 0;
    overflow: auto;
}
#main {
    flex-basis: 100%;
    padding: 0 1em;
    overflow: auto;
    display: flex;
}
#page-name {
    margin: .5em 0;
    padding: .2em;
    text-align: center;
    background-color:white;
    font-size: 2em;
    border-radius: 2px;
    font-weight: 700;
}
#active-bead {
    padding: .2em .3em;
    width: 2.5em;
    flex-shrink: 0;
}
#bead-description {
    font-style: italic;
    font-size: 80%;
    margin-left: .4em;
}
.palette {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: .5em 0;
}
.palette-wrapper {
    margin: .6em 0;
    user-select: none;
    font-size: .9em;
    background-color: #FFF;
    padding: .5em;
    border-radius: 2px;
}
.palette-name {
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 700;
}
#zoom-palette, #paint-palette {
    justify-content: center;
}
#swatch {
}
#innerWrapper {
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    display: inline-flex;
}
.button {
    width: 1.8em;
    flex-grow: 0;
    flex-shrink: 0;
    padding: .2em .2em;
    cursor: pointer;
}
#active-bead, .button {
    display: flex;
    align-items: center;
}
.beadOutline {
    stroke: #333;
}
#svgWrapper {
    margin: auto;
    padding: 3vh 0;
}

.text-button {
    padding: .2em .5em;
    background-color: #CCC;
    border-radius: .2em;
    margin: 0 .3em;
    user-select: none;
    cursor: pointer;
    font-size: 85%;
}

.text-button:hover {
    background-color: #EEE;
}
