html, body {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    font-family: sans-serif;
}
#ribbon {
    width: 17em;
    background-color: #DDD;
    padding: .8em;
}
#main {
    flex-basis: 100%;
    padding: 1em;
}
#patternSvg {
    width: 100%;
    height: 100%;
}
#active-bead {
    padding: .2em .3em;
    width: 2.5em;
    flex-shrink: 0;
}
#bead-description {
    font-style: italic;
    font-size: 85%;
    margin-left: .4em;
}
.palette {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* justify-content: space-around; */
    border: 1px solid gray;
    border-radius: .6em;
    background-color: #FFF;
    padding: .5em;
}
.palette-wrapper {
    margin: .8em 0;
}
#swatch {
}
#innerWrapper {
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    display: inline-flex;
}
.button {
    width: 1.67em;
    flex-grow: 0;
    flex-shrink: 0;
    padding: .2em .2em;
}
#active-bead, .button {
    display: flex;
    align-items: center;
}
.beadOutline:hover {
    stroke: indianRed;
}
