html, body {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    font-family: sans-serif;
}
#ribbon {
    width: 13em;
    background-color: #DEDEDE;
    padding: .6em .6em;
    flex-shrink: 0;
    overflow: auto;
}
#main {
    flex-basis: 100%;
    padding: 0 1em;
    overflow: auto;
    display: flex;
    /* background-color: #999; */
}
#page-name {
    margin: 0;
    text-align: center;
}
#active-bead {
    padding: .2em .3em;
    width: 2.5em;
    flex-shrink: 0;
}
#bead-description {
    font-style: italic;
    font-size: 90%;
    margin-left: .4em;
}
.palette {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid #AAA;
    border-radius: .5em;
    background-color: #FFF;
    padding: .5em;
}
.palette-wrapper {
    margin: .8em 0;
    user-select: none;
    font-size: .9em;
}
#zoom-palette, #paint-palette {
    justify-content: center;
}
#swatch {
}
#innerWrapper {
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    display: inline-flex;
}
.button {
    width: 1.8em;
    flex-grow: 0;
    flex-shrink: 0;
    padding: .2em .2em;
    cursor: pointer;
}
#active-bead, .button {
    display: flex;
    align-items: center;
}
.beadOutline {
    stroke: #333;
}
#svgWrapper {
    margin: auto;
    padding: 3vh 0;
}

.text-button {
    padding: .2em .5em;
    background-color: #CCC;
    border-radius: .2em;
    margin: 0 .3em;
    user-select: none;
    cursor: pointer;
}

.text-button:hover {
    background-color: #EEE;
}
